In [102]:
import pandas as pd
import numpy as np
import os
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [103]:
# write to file
train = pd.read_csv("data_cleaned/training_all_counties_all_years.csv")
validate = pd.read_csv("data_cleaned/validate_all_counties_all_years.csv")

In [104]:
train.rename(columns={'both_gender_resp_mort': "combined_mort_y", 
                      "male_resp_mort": "male_mort_y", "female_resp_mort":"female_mort_y",'90th Percentile AQI':'Ninetieth Percentile AQI', 'Unhealthy for Sensitive Groups Days':'Unhealthy Sensitive Days'}, inplace=True)
validate.rename(columns={'both_gender_resp_mort': "combined_mort_y", 
                      "male_resp_mort": "male_mort_y", "female_resp_mort":"female_mort_y",'90th Percentile AQI':'Ninetieth Percentile AQI', 'Unhealthy for Sensitive Groups Days':'Unhealthy Sensitive Days'}, inplace=True)

In [105]:
train.columns.values

array(['Unnamed: 0', 'index', 'Unnamed: 0.1', 'FIPS', 'combined_mort_y',
       'cause_id', 'cause_name', 'female_mort_y', 'location_id',
       'male_mort_y', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy Sensitive Days', 'Unhealthy Days',
       'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       'Ninetieth Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'], dtype=object)

In [106]:
train.drop(['Unnamed: 0','index','Unnamed: 0.1','cause_id', 'cause_name','location_id'], axis=1, inplace=True)
validate.drop(['Unnamed: 0','index','Unnamed: 0.1','cause_id', 'cause_name'], axis=1, inplace=True)
train = train[['FIPS','combined_mort_y','female_mort_y', 'male_mort_y', 'Year', 
               'Days with AQI', 'Good Days','Moderate Days', 'Unhealthy Sensitive Days',
               'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI', 
               'Ninetieth Percentile AQI', 'Median AQI', 'Days CO','Days NO2', 'Days Ozone', 
               'Days SO2', 'Days PM2.5', 'Days PM10']]
validate = validate[['FIPS','combined_mort_y','female_mort_y', 'male_mort_y', 'Year', 
               'Days with AQI', 'Good Days','Moderate Days', 'Unhealthy Sensitive Days',
               'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI', 
               'Ninetieth Percentile AQI', 'Median AQI', 'Days CO','Days NO2', 'Days Ozone', 
               'Days SO2', 'Days PM2.5', 'Days PM10']]

In [107]:
ll = pd.read_csv("lat_long.csv")

In [108]:
ll.columns.values

array(['State', 'FIPS', 'County', 'Latitude', 'Longitude'], dtype=object)

In [109]:
ll.drop(['State', 'County'], axis=1, inplace=True)

In [110]:
train = train.merge(ll)
validate = validate.merge(ll)

In [114]:
# write to file
train.to_csv("data_cleaned/training_all_counties_all_years_ll.csv", index=False)
validate.to_csv("data_cleaned/validate_all_counties_all_years_ll.csv", index=False)

In [112]:
train.head()

,FIPS,combined_mort_y,female_mort_y,male_mort_y,Year,Days with AQI,Good Days,Moderate Days,Unhealthy Sensitive Days,Unhealthy Days,...,Ninetieth Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Latitude,Longitude
0,41011,69.763012,64.180931,76.558495,2013,186,0.994624,0.005376,0.000000,0.0,...,23,10,0.0,0.0,0.000000,0.0,1.000000,0.0,43.184193,124.092557
1,41011,70.081053,63.396338,78.458067,2011,45,0.977778,0.022222,0.000000,0.0,...,36,24,0.0,0.0,0.000000,0.0,1.000000,0.0,43.184193,124.092557
2,41011,70.966082,65.058336,78.211803,2012,278,0.985612,0.010791,0.003597,0.0,...,31,17,0.0,0.0,0.000000,0.0,1.000000,0.0,43.184193,124.092557
3,27139,45.015850,34.943711,61.754472,2000,85,0.600000,0.376471,0.023529,0.0,...,78,38,0.0,0.0,0.000000,0.0,1.000000,0.0,44.651932,93.534553
4,27139,45.895790,37.299605,59.300249,2004,238,0.869748,0.130252,0.000000,0.0,...,54,37,0.0,0.0,0.718487,0.0,0.281513,0.0,44.651932,93.534553